:root {
	--button-t-font-family: "Inter", Helvetica;
	--button-t-font-weight: 400;
	--button-t-font-size: 16px;
	--button-t-letter-spacing: 0px;
	--button-t-line-height: 100%;
	--button-t-font-style: normal;
  }
  