body {
	background: radial-gradient(circle, #000 20%, #001B2E);
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: block;
}
